*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

main{
    padding: 20px;
}

header{
    background: linear-gradient(tomato, darkorange, orange);
}

img{
    display: block;
    margin: 0 auto;
}

.conteudo{
    width: 90%;
    text-align: justify;
    border-radius: 40px;
    margin: 0 auto;
    display: block;
    background-color: white;
    padding: 30px;
    line-height: 1.5;
}

ul{
    list-style-type: none;
}

@media(min-width: 300px) and (max-width:1024px){
    p{
        padding-bottom: 20px;
        padding-top: 20px;
    }

    img{
        width: 100%;
        height: auto;
    }

    .card-depoimento{
        width: 80%;
    }

    main{
        padding-top: 20px;
    }
}

.grid{
    display: grid;
    margin: auto;
    border-radius: 40px;
    width: 90%;
    background-color: white;
    margin-top: 30px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

img{
    display: block;
    margin: auto;
    padding: 25px 25px;
}

nav{
    display: block;
    margin: auto;
    text-align: right;
    padding: 20px;
}

a{
    padding: 5px;
    text-decoration: none;
    background-color: white;
    border-radius: 15px;
    transition: 0.5s ease;
    color: black;
}

a:hover{
    background-color: rgb(189, 188, 188);
    box-shadow: 1.5px 1.5px black;
}

footer{
     background: linear-gradient(tomato, darkorange, orange);
     display: block;
     margin: auto;
     text-align: center;
     padding: 50px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit minmax(300px, 1fr));
    gap: 20px;
    max-width: 1024px;
    margin: auto;
    padding: 20px;
}

.card-depoimento{
    background-color: whitesmoke;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 6px black;
    text-align: center;
}

.card-depoimento p{
    font-size: 1rem;
    color: #333333;
    margin-bottom: 12px;
    font-style: italic;
}

.card-depoimento span{
    font-size: 0.85rem;
    font-weight: bold;
    color: 666666;
}

aside{
    margin: 30px;
}

button{
    display: block;
    margin: auto;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    transition: 0.5 ease;
}

button:hover{
    background-color: tomato;
    box-shadow: 1.5px 1.5px black;
}

aside h2{
    text-align: center;
    display: block;
    padding: 10px;
}